@tailwind utilities;
@tailwind base;
@tailwind components;

@layer base {
	html {
		@apply bg-white dark:bg-black;
	}

	body {
		@apply text-black dark:text-white;
	}
	a {
		@apply font-mono;
	}
}

@keyframes blink {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}

.animate-blink {
	animation: blink 1s step-end infinite;
}
